@import url('https://fonts.cdnfonts.com/css/pokemon-solid');

/* Global Styles */
html * {
    font-family: "Gill Sans", sans-serif; 
    font-size: 20px;
}

img {
    color:#ffde00 ;
    margin: 4px;
    padding: 4px;
}
body {
    background-image: url("/assets/forestBackground.webp");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Page Layout */
#page-view {
    border-style: solid;
    border-width: thin;
    border-color: grey;
    display: flex;
    justify-content: flex-start;
}

#app-view {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    flex-flow: column;
    height: 100%;
    border-radius: 30px;
    margin-top: 20px;
    overflow: hidden;
    border: 10px solid #192654;
    background-color: #dce6ed;
}

/* App Menu */
#app-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #265086;
    color: #ffde00;
    text-shadow: 3px 3px 0px #192654, 6px 6px 0px #192654;
    padding: 10px;
    list-style-type: none;
    margin: 0;
    letter-spacing: 2px;
    
}

#app-menu li:hover {
    border-radius: 10px;
    background-color: #192654;
}

.menu-item {
    width: 100%;
    text-align: center;
}

.menu-item a {
    float: left;
    width: 100%;
    text-align: center;
    font-size: 32px;
    color: white;
    font-family: 'Pokemon Solid', sans-serif;
    letter-spacing: 12px;
}

a {
    text-decoration: none;
    color: inherit;
    padding: 4px;
    margin-left: 16px;
    margin-right: 16px;
}

a:visited {
    color: inherit;
}

.menu-item img {
    width: 30px; 
    height: 30px;
    display: inline;
    vertical-align: baseline;
    margin: 0 0.125em;
}

/* Room List */
.room-list {
    vertical-align: middle;
    padding: 16px;
    margin: 16px;
}

.room-list img {
    border-radius: 50%;
    width: 50px; 
    height: 50px;
    display: inline;
    vertical-align: middle;
    margin-right: 20px;
}

.room-list li:hover {
    background-color: #b2c5d9;
}


.room-list li {
    /* margin-right: 40px;
    border-color: #265086;
    border-width: 2px;
    border-style: solid;
 */
    border-color: #b2c5d9;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    margin-bottom: 2px;
    margin-top: 2px;
}


/* Content and Controls */
.content {
    justify-content: center;
    align-items: center;
    width: 100%;
}

.page-control {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #265086;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    bottom: 0;
}

.page-control input {
    margin: 2%;
    padding-left: 8%;
    margin-right: 4%;

}
.page-control input[type="text"], input[type="password"] {
    margin-left:60px;
    margin-right: 60px;
    height: 100%;
    letter-spacing: 4px;
    padding-left: 16px;
}

.page-control button {
    margin: 2%;
    margin-left: 4%;
    margin-right: 60px;
}

.room-name {
    margin-left: 20px;
}

/* Chat Messages */
.message {
    background-color: #f0f0f0;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    text-align: left;
    max-width: 60%;
    clear: both;
    font-family: Arial, Helvetica, sans-serif;
}

.my-message {
    background-color: #8398b2;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;  
    text-align: right;
    max-width: 60%;
    clear: both;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
}

.summary-mess {
    background-color: #D3B683;
    padding: 15px;
    margin: 20px auto;
    border-radius: 8px;
    text-align: center;
    max-width: 80%;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.message-user {
    font-weight: bold;
}

.message-list {
    max-height: 67vh;
    min-height: 67vh;
    overflow-y: auto;
}


.profile-form {
    padding: 12px;
    margin: 12px
}
/* Form Fields */
.form-field {
    padding: 16px;
    margin: -1px;
}

.form-field input[type="file"] {
    margin-left: 47px;
}

input[type="password"] {
    border: 2px solid #192654;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.8);
    outline: none;
    transition: all 0.3s ease;
    height: 40px;
    width: 80%;
    margin: 6px;
    font-family: 'Pokemon Solid', sans-serif;
    padding-left: 8px;
    padding-right: 8px;
    letter-spacing: 3px;
    font-size: large;
    box-sizing: border-box;
}

input[type="text"], textarea {
    border: 2px solid #192654;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.8);
    outline: none;
    transition: all 0.3s ease;
    height: 40px;
    width: 80%;
    margin: 6px;
    font-family: 'Pokemon Solid', sans-serif;
    padding-left: 8px;
    padding-right: 8px;
    letter-spacing: 3px;
    font-size: large;
    box-sizing: border-box;
}

input[type="text"]:focus, textarea:focus {
    border-color: #3d7dca;
    box-shadow: 0 0 5px rgba(61, 125, 202, 0.7);
}

/* Input Button */
button {
    margin: 2px;
    background-color: #ffcb05;
    border: 2px solid #c7a008;
    border-radius: 25px;
    padding: 12px 24px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #c7a008;
    border-color: #c7a008;
    transform: scale(1.1);
}

/* Resizing */
@media (min-width: 1024px) {
    #app-view {
        width: 80%;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    #app-view {
        width: 90%;
    }
}

@media (max-width: 767px) {
    #app-view {
        width: 100%;
    }
}

/* Misc */
ul {
    list-style-type: none;
}
